body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(45,45,45);
    background-image: url("../img/header-1.jpg");
    background-repeat: no-repeat;
    background-color: rgb(45,45,45);
}

.body-info {
/*    outline: black dotted thick;*/
    position: relative;
    color: white;
    text-shadow: 10px 10px 20px rgba(0,0,0,4.0);
    top: -500px;
}

.body-description {
/*    outline: black dotted thick;*/
    color: white;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    float: left;
    position: absolute;
    right: -800px;
}

li > img:hover {
    opacity: 0.8 !important;
    filter: invert(20);
}

.button {
    border: 0px solid black;
}

.buttons-container {
    /*outline: black dotted thick;*/
    width: 100%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    float: left;
    left: -1400px;
}

.button-label {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(70,181,117);
    align: center;
}

.social-container {
/*    outline: black dotted thick;*/
    text-align: center;
    margin-top: 50px;
    height: 100px;
    float: left;
    position: relative;
    bottom: -400px;
}

.social-container > p {
    color: rgb(160,160,160);
}

.social-icon {
	padding: 0px 1px 0px 1px;
}

a:link {
    text-decoration: none;
}

.spacer {
    min-height:30px;
}

.highlight {
    font-weight: 700;
    color: rgb(70,181,117);
}
