html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

body, label {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(45,45,45);
}

.body-wrapper {
    float: left;
}

.body-header-wrapper {
	width: 100%;
	height: 45%;
	margin: 50x;
	color: white;
    /*background-image: url("../img/header-1.jpg");
    background-size: cover;*/
    /*background-color: white;*/
    position: absolute;

	/* for floating two divs side by side*/
	overflow: hidden;
	float: left;

}

.body-name {
	font-size: 120px;
	padding: 30px 0px 30px 100px;
    height: 100%;
	text-shadow: 10px 10px 20px rgba(0,0,0,4.0);
	/*width: 45%;*/
	top: -500px;
    position: absolute;
    width: 50%;

	/*background-color: green;*/
}

.body-i-am {
    font-size: 80px !important;
}

.body-description {
	font-size: 27px;
	height: 100%;
	padding: 80px 100px 0px 0px;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.7);
	width: 40%;
	right: -800px;
	position: absolute;
	overflow-wrap: break-word;

/*	background-color: blue;*/
}

.body-button-wrapper {
    width: 100%;
    height: 45%;
    float: right;
    clear:both;

	/*left: -1000px;*/
	/*position: relative;*/
    background-color: yellow;
}

.button {
	font-size: 20px;
	max-width: 150px;
	color: rgb(0,0,0);
    background-color: rgb(45,45,45);
    margin: 0px 30px 0px 30px;
	border: 0px;
	outline: 0;
	background-color: blue;
}

.button-label {
    font-size: 25px;
    color: rgb(70,181,117);
}

.button-icon {
	width: 115px;
	height: 115px;
	margin: 0px 0px 7px 0px;

	background-color: orange;
}

button > img:hover {
    opacity: 0.8 !important;
    filter: invert(20);
}

.social-links-wrapper {
    text-align: center;
    padding: 20px 0px 15px 0px;

    position: fixed;
    bottom: -300px;
    width: 100%;

    /*background-color: blue;*/
}

.social-icon {
    width: 65px;
	height: 65px;
	padding: 0px 1px 0px 1px;
/*    background-color: blue;*/
}

a:link {
    color: red;
    text-decoration: none;
}

.highlight {
    font-weight: 700;
    color: rgb(70,181,117);
}

.social-links-wrapper > p {
    font-size: 20px;
    color: rgb(190,190,190);
}

/*


.body-wrapper {

}

.body-header {
    clear: both;
    height: 300px;

}

.body-title {
    background-color: green;
    width: 50%;
    float: left;
    height: 100%;
}

.body-name {

}

.body-tagline {

}

.body-description {
    background-color: blue;
    width: 50%;
    height: 100%;
    float: left;
}

.body-content {
*/
/*    need to fill in rest of screen*//*

    height: 500px;


}

.body-footer {

}*/
